*{
		padding: 0;
		margin: 0;
		font-family: 'Itim',cursive;
		text-align: center;
		font-weight: bold;
		box-sizing: border-box;
		font-size: 25px;
}
marquee{
	background-color: yellow ;
	border: 5px solid darkblue;
}

li{
	width: 200px;
	min-height: 20px;
	text-align: center;
	background-color: pink;
}
a{
	text-decoration: none;
}
.menu ul{
	list-style: none;
	background-color: green;
}
.menu>ul>li{
	display: inline-block; /*định dạng sắp xếp theo chiều ngang*/

}
.level1 li{
		position: relative;
	}
.level1 li> .level2{
	position: absolute;
	top: 0;
	left: 100%;
}
.menu-ngang ul{
	display: none;
	position: absolute;
}
.menu-ngang li:hover>ul{
	display: block;
}
.menu-ngang li:hover>.level1 li{
	border: 2px solid #F9E368;
	/*position: relative;*/
}
.menu-ngang li:hover{
	background-color: red;
}

iframe{
	width: 100%;
	min-height: 1000px;
}
