#dsuser{
    margin: auto;
    width: 100%;
    margin-right: 0px;
}
#dscb{
    margin: auto;
    width: 100%;
    margin-right: 0px;
}
#dsnc{
    margin: auto;
    width: 100%;
    margin-right: 0px;
}
td, th{
    padding: 10px;
    text-align: center;
}
#info{
    font-weight: bold;
}
